<%= simple_form_for(@evidence) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :review %>
    <%= f.input :image_url %>
    <%= f.input :code %>
    <%= f.input :title %>
    <%= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
